<h1><%= @game.opponent.name %> attacked <%= @game.attacker.name %></h1>

<h2><%= @game.attacker.name %>: <%= @game.attacker.hp %>HP</h2>

<form action="/play">
  <input type="submit" value="Switch">
</form>
